In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
# pd.set_option('display.max_rows', None)  # Show all rows
# pd.set_option('display.max_columns', None)  # Show all columns

### Load Turkish data

In [3]:
# Read the Excel file into a DataFrame
df_Turkish_meta_raw = pd.read_excel('samples_2023-12-19 processed.xlsx', sheet_name='Sheet1')

# Correcting wrong spelling: Replace 'schizphrenia' with 'schizophrenia' in the 'Diagnose' column
df_Turkish_meta_raw['Diagnose'] = df_Turkish_meta_raw['Diagnose'].replace('schizphrenia', 'schizophrenia')

# Fill NaN values in the DataFrame with spaces
df_Turkish_meta_raw.fillna(' ', inplace=True)

# Create a new 'GROUP' column by combining 'Cohort' and 'Diagnose'
df_Turkish_meta_raw['GROUP'] = df_Turkish_meta_raw['Cohort'].astype(str) + '-' + df_Turkish_meta_raw['Diagnose'].astype(str)

# Display the modified DataFrame
df_Turkish_meta_raw

C:\Users\Lingqi Meng\AppData\Local\Temp\ipykernel_16388\1329566145.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value ' ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_Turkish_meta_raw.fillna(' ', inplace=True)

,DAid,Cohort,Diagnose,Age,Sex,BMI,GROUP
0,DA06320,LIVD,Fatty Liver Disease,65.0,M,31.9,LIVD-Fatty Liver Disease
1,DA06321,LIVD,Hepatocellular Carcinoma (HCC),52.0,M,21.6,LIVD-Hepatocellular Carcinoma (HCC)
2,DA06322,LIVD,Hepatocellular Carcinoma (HCC),65.0,M,29.06,LIVD-Hepatocellular Carcinoma (HCC)
3,DA06323,LIVD,Chronic Liver Disease (CLD),42.0,M,34.7,LIVD-Chronic Liver Disease (CLD)
4,DA06324,LIVD,Chronic Liver Disease (CLD),56.0,F,24.1,LIVD-Chronic Liver Disease (CLD)
...,...,...,...,...,...,...,...
1087,DA09663,THEL,,,,,THEL-
1088,DA09664,THEL,,,,,THEL-
1089,DA09665,THEL,,,,,THEL-
1090,DA09666,THEL,,,,,THEL-
1091,DA09667,THEL,,,,,THEL-

In [4]:
# Create a new DataFrame 'df_Turkish_meta' containing 'DAid' and 'GROUP' columns from 'df_Turkish_meta_raw'
df_Turkish_meta = df_Turkish_meta_raw[['DAid', 'GROUP']]

# Display the new DataFrame 'df_Turkish_meta'
df_Turkish_meta

         DAid                                GROUP
0     DA06320             LIVD-Fatty Liver Disease
1     DA06321  LIVD-Hepatocellular Carcinoma (HCC)
2     DA06322  LIVD-Hepatocellular Carcinoma (HCC)
3     DA06323     LIVD-Chronic Liver Disease (CLD)
4     DA06324     LIVD-Chronic Liver Disease (CLD)
...       ...                                  ...
1087  DA09663                               THEL-
1088  DA09664                               THEL-
1089  DA09665                               THEL-
1090  DA09666                               THEL-
1091  DA09667                               THEL-

[1092 rows x 2 columns]

In [5]:
# Load data from a txt file with tab delimiter
df_Turkish_data = pd.read_csv('limited_20230511_data_all_batches_warehouse.txt', delimiter='\t')

# Drop rows where either 'QC_Warning' or 'Assay_Warning' is not 'PASS'
df_Turkish_data = df_Turkish_data[(df_Turkish_data['QC_Warning'] == 'PASS') & (df_Turkish_data['Assay_Warning'] == 'PASS')]

# Reset the index to ensure consecutive row numbering
df_Turkish_data.reset_index(drop=True, inplace=True)

# Display the modified DataFrame
df_Turkish_data

,DAid,SampleID_Original,OlinkID,UniProt,Assay,Panel,Panel_Lot_Nr,PlateID,QC_Warning,LOD,NPX,Assay_Warning,BatchID,Adj_factor,Cohort
0,DA06546,DA06546,OID21161,P22307,SCP2,Oncology,B04412,Run134,PASS,-0.36275,-0.55845,PASS,B3,0.36345,LIVD
1,DA08920,DA08920,OID21161,P22307,SCP2,Oncology,B04412,Run134,PASS,-0.36275,0.47045,PASS,B3,0.36345,PANC
2,DA08903,DA08903,OID21161,P22307,SCP2,Oncology,B04412,Run134,PASS,-0.36275,0.68925,PASS,B3,0.36345,PANC
3,DA06339,DA06339,OID21161,P22307,SCP2,Oncology,B04412,Run134,PASS,-0.36275,1.08785,PASS,B3,0.36345,LIVD
4,DA06542,DA06542,OID21161,P22307,SCP2,Oncology,B04412,Run134,PASS,-0.36275,0.21875,PASS,B3,0.36345,LIVD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1647453,DA09569,DA09569,OID20417,Q15582,TGFBI,Cardiometabolic,B04413,Run159,PASS,-7.71525,0.40445,PASS,B4,0.14485,THEL
1647454,DA09388,DA09388,OID20417,Q15582,TGFBI,Cardiometabolic,B04413,Run159,PASS,-7.71525,-0.12535,PASS,B4,0.14485,COLC
1647455,DA09626,DA09626,OID20417,Q15582,TGFBI,Cardiometabolic,B04413,Run159,PASS,-7.71525,-0.35125,PASS,B4,0.14485,THEL
1647456,DA09588,DA09588,OID20417,Q15582,TGFBI,Cardiometabolic,B04413,Run159,PASS,-7.71525,-0.53285,PASS,B4,0.14485,THEL
1647457,DA09440,DA09440,OID20417,Q15582,TGFBI,Cardiometabolic,B04413,Run159,PASS,-7.71525,-0.29395,PASS,B4,0.14485,COLC

In [6]:
# Create a pivot table to reshape data
df_Turkish_data_pivot = df_Turkish_data.pivot_table(
    index='DAid',
    columns='Assay',
    values='NPX',
    aggfunc='mean'
).reset_index()

# Remove the column name axis label for better display
df_Turkish_data_pivot.rename_axis(None, axis=1, inplace=True)

# Display the resulting pivot table
df_Turkish_data_pivot

,DAid,AARSD1,ABHD14B,ABL1,ACAA1,ACAN,ACE2,ACOX1,ACP5,ACP6,...,WNT9A,WWP2,XCL1,XG,XPNPEP2,XRCC4,YES1,YTHDF3,ZBTB16,ZBTB17
0,DA06320,0.5075,2.38875,2.15400,1.38245,0.09065,1.6133,0.95835,-0.53040,-1.93255,...,-0.00895,1.00440,0.39610,-1.01575,-1.03705,0.7089,3.28280,0.27075,2.6041,1.19535
1,DA06321,3.3875,3.79805,0.84570,1.17935,-0.21875,2.9902,0.20455,NaN,-2.02915,...,-0.12855,0.91720,0.60500,-0.67375,0.12685,-0.0872,0.83480,-0.65865,0.1928,0.03655
2,DA06322,1.7627,2.71065,1.07710,1.43515,0.64535,3.2543,0.51235,0.19390,-0.37035,...,-0.09885,0.20440,0.99990,0.46445,-1.82795,0.1090,1.44680,-0.26515,1.7775,0.59465
3,DA06323,3.8381,4.35915,2.28500,2.10795,-0.10585,1.2502,0.89735,-0.72920,-0.64925,...,-0.33285,1.48550,1.17170,-1.09225,-2.57585,0.6549,2.13660,-1.67715,1.2168,0.69195
4,DA06324,2.2354,3.74095,1.59290,-0.97105,-0.69005,0.7217,0.59795,-0.91380,-0.71885,...,0.32815,0.65030,1.52940,-0.06155,-1.05595,-0.1395,1.20500,-0.18595,1.7108,0.91015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,DA09663,2.6222,1.88755,3.04215,0.14885,0.14170,1.3350,0.49085,-0.09825,-0.70770,...,-0.05320,3.21225,0.11735,-0.99130,0.92935,1.7685,0.21395,1.30850,3.2555,3.25950
1111,DA09664,1.4136,-0.52635,0.36695,-0.51485,-0.82810,-1.1935,0.27765,NaN,-0.18910,...,-0.80210,0.94315,0.28755,NaN,-0.03055,-0.0284,-1.13975,-2.54990,0.3642,1.02510
1112,DA09665,0.7023,-0.15125,0.54695,-0.59685,-0.07610,1.1108,-0.97405,0.14595,-0.03980,...,-0.89510,1.28305,0.68895,0.04650,-0.46565,-0.1533,-0.26325,-0.91530,-0.1253,0.86560
1113,DA09666,1.1686,0.17165,0.45675,-0.53025,-0.38680,-0.6018,-0.07045,-0.35255,0.06420,...,-0.81470,1.95485,-0.55545,0.23680,-1.13665,0.2306,-0.91205,-0.62420,0.6460,1.19700
1114,DA09667,0.0330,-1.23085,0.07035,-0.83675,-0.22710,-0.7670,-0.64145,-0.44925,-1.63370,...,-0.95090,0.02275,0.70855,-0.74880,1.20615,-0.2118,-0.09735,0.69020,-0.2193,0.31540

In [7]:
# df_Turkish_meta.to_csv('../Proteomics reporting/Turkish meta.txt', sep='\t', index=False)
# df_Turkish_data_pivot.to_csv('../Proteomics reporting/Turkish data.txt', sep='\t', index=False)

### Load Swedish data

In [8]:
df_Swedish_meta_raw = pd.read_csv('ucan_reduced_meta_20221206.csv', delimiter=',')
df_Swedish_meta_raw

,ID_VialNR,DAid,GROUP,Sex,Age,BMI,Stage,Grade,Secondary_diagnosis,First_cancer_paper
0,4023658852,DA00001,AML,Male,35.0,31.4,3,NaN,NaN,Included
1,4017679871,DA00002,AML,Male,36.0,22.5,1,NaN,NaN,Included
2,4013290460,DA00003,AML,Male,36.0,30.4,Unknown,NaN,NaN,Included
3,4056856865,DA00004,AML,Male,39.0,NaN,Unknown,NaN,NaN,Included
4,4000622334,DA00005,AML,Female,43.0,35.1,1,NaN,NaN,Included
...,...,...,...,...,...,...,...,...,...,...
2795,4000599689,DA02796,SI-NET,Male,72.0,NaN,NaN,NaN,NaN,Excluded
2796,4016565572,DA02797,SI-NET,Female,73.0,22.6,NaN,NaN,NaN,Excluded
2797,4030912580,DA02798,SI-NET,Female,73.0,29.2,NaN,NaN,NaN,Excluded
2798,4010776711,DA02799,SI-NET,Female,74.0,22.4,NaN,NaN,NaN,Excluded
2799,4014386085,DA02800,SI-NET,Male,74.0,34.7,NaN,NaN,NaN,Excluded

In [9]:
df_Swedish_meta = df_Swedish_meta_raw[['DAid', 'GROUP']]
df_Swedish_meta

         DAid   GROUP
0     DA00001     AML
1     DA00002     AML
2     DA00003     AML
3     DA00004     AML
4     DA00005     AML
...       ...     ...
2795  DA02796  SI-NET
2796  DA02797  SI-NET
2797  DA02798  SI-NET
2798  DA02799  SI-NET
2799  DA02800  SI-NET

[2800 rows x 2 columns]

In [10]:
# Load data from a txt file with tab delimiter
df_Swedish_data = pd.read_csv('Swedish/limited_20230511_data_all_batches_warehouse.txt', delimiter='\t')

# Drop rows where either 'QC_Warning' or 'Assay_Warning' is not 'PASS'
df_Swedish_data = df_Swedish_data[(df_Swedish_data['QC_Warning'] == 'PASS') & (df_Swedish_data['Assay_Warning'] == 'PASS')]

# Reset the index to ensure consecutive row numbering
df_Swedish_data.reset_index(drop=True, inplace=True)

# Display the modified DataFrame
df_Swedish_data

,DAid,SampleID_Original,OlinkID,UniProt,Assay,Panel,Panel_Lot_Nr,PlateID,QC_Warning,LOD,NPX,Assay_Warning,BatchID,Adj_factor,Cohort
0,DA01389,4038028066,OID20083,P21246,PTN,Cardiometabolic,B04413,Run77,PASS,-1.9891,-0.5465,PASS,B1,0,UCAN
1,DA01924,4031499288,OID20083,P21246,PTN,Cardiometabolic,B04413,Run77,PASS,-1.9891,1.1022,PASS,B1,0,UCAN
2,DA00884,4038033691,OID20083,P21246,PTN,Cardiometabolic,B04413,Run77,PASS,-1.9891,-0.7287,PASS,B1,0,UCAN
3,DA02159,29546692,OID20083,P21246,PTN,Cardiometabolic,B04413,Run77,PASS,-1.9891,0.8285,PASS,B1,0,UCAN
4,DA01591,4013633331,OID20083,P21246,PTN,Cardiometabolic,B04413,Run77,PASS,-1.9891,1.4896,PASS,B1,0,UCAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4065840,DA00597,4011608889,OID20430,P35225,IL13,Inflammation,B04411,Run44,PASS,0.3480,0.0181,PASS,B1,0,UCAN
4065841,DA02310,4013049201,OID20430,P35225,IL13,Inflammation,B04411,Run44,PASS,0.3480,0.0014,PASS,B1,0,UCAN
4065842,DA00385,4038040675,OID20430,P35225,IL13,Inflammation,B04411,Run44,PASS,0.3480,-0.0776,PASS,B1,0,UCAN
4065843,DA00491,4000401991,OID20430,P35225,IL13,Inflammation,B04411,Run44,PASS,0.3480,0.2418,PASS,B1,0,UCAN
4065844,DA01483,4038034200,OID20430,P35225,IL13,Inflammation,B04411,Run44,PASS,0.3480,0.1566,PASS,B1,0,UCAN

In [11]:
# Create a pivot table to reshape data
df_Swedish_data_pivot = df_Swedish_data.pivot_table(
    index='DAid',
    columns='Assay',
    values='NPX',
    aggfunc='mean'
).reset_index()

# Remove the column name axis label for better display
df_Swedish_data_pivot.rename_axis(None, axis=1, inplace=True)

# Display the resulting pivot table
df_Swedish_data_pivot

,DAid,AARSD1,ABHD14B,ABL1,ACAA1,ACAN,ACE2,ACOX1,ACP5,ACP6,...,WNT9A,WWP2,XCL1,XG,XPNPEP2,XRCC4,YES1,YTHDF3,ZBTB16,ZBTB17
0,DA00001,2.3070,1.0352,4.2871,3.7812,-0.4448,2.4846,2.1594,1.7898,-1.2775,...,-0.5955,2.9444,1.4667,-0.9758,-0.9778,1.9627,6.1417,4.2377,3.8522,2.8440
1,DA00002,0.1575,-0.2020,0.8061,-0.7682,-0.5204,-0.5300,-0.3274,0.2920,-0.2717,...,-1.0709,1.7152,2.3242,-1.1372,-0.5981,0.2095,-0.0055,1.2972,1.8684,1.1485
2,DA00003,1.8778,-0.3602,2.2164,-0.7633,-0.9714,-0.2577,0.5109,0.1052,-0.5080,...,-0.1284,3.1781,2.5429,-0.3429,-0.6838,0.8646,1.6398,1.8707,0.5946,1.9148
3,DA00004,-0.7379,-1.1162,-0.1530,-1.1442,-0.5311,0.1471,0.2265,-0.1281,-1.8387,...,-0.9888,1.5965,1.0464,-0.9270,-0.4153,0.4759,-1.5061,-0.2094,0.3598,1.3221
4,DA00005,0.7495,-0.3352,2.3264,1.7141,-0.4991,0.6677,0.2810,0.7701,-2.6298,...,-0.2113,2.8930,1.5164,-0.1581,1.7216,1.4400,0.7313,1.5074,2.5537,3.3771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2789,DA02796,0.2591,0.0636,0.4144,0.3621,0.0886,0.3727,0.5808,0.7334,0.7760,...,0.5966,-0.1943,1.3194,0.5748,-0.1447,0.2969,0.7879,0.6484,0.2844,0.2754
2790,DA02797,0.8742,1.5548,1.7516,1.1085,0.4271,-0.1426,1.6466,0.4758,0.3842,...,-0.0814,1.7066,0.5663,0.3124,1.7793,0.7156,2.4386,1.5141,1.5092,0.4250
2791,DA02798,-0.7035,-0.9858,0.4173,-0.3943,-0.4950,0.0643,0.7581,-0.1051,0.3857,...,-0.0951,0.4707,-0.6277,0.3038,0.6289,-0.1925,0.8655,-0.0423,0.5994,-0.3872
2792,DA02799,1.9076,0.2793,-0.1758,-0.6577,-0.3513,-0.3338,-0.5668,0.0832,0.5305,...,0.4709,0.0167,0.1011,0.3651,-0.9123,-0.2491,-0.6237,-0.6604,0.5598,-0.0223
2793,DA02800,3.2756,1.0741,0.0214,-0.5577,-0.4095,0.7657,0.2426,-0.8784,0.3109,...,-0.2253,0.4872,0.7120,-0.2741,-0.3363,0.1733,1.2576,0.2804,0.4894,1.3059

In [12]:
# df_Swedish_meta.to_csv('../Proteomics reporting/Swedish meta.txt', sep='\t', index=False)
# df_Swedish_data_pivot.to_csv('../Proteomics reporting/Swedish data.txt', sep='\t', index=False)